{% extends 'base.html' %}
{% import 'macros/shares.html' as shares %}
{% from 'macros/prose.html' import prose %}

{% set context = data.story %}

{% block content %}

<section class="card" id="lead-card">
  <div class="card__bg">
    <figure class="card__bg-image">
      <img class="js-lazyload-img lazyload img-blur" src="{{ static('assets/images/pass-to-poison-lead-180.jpg') }}" sizes="(orientation: landscape) 100vw, 75vh" data-src="{{ static('assets/images/pass-to-poison-lead-1000.jpg') }}" data-srcset="{{ static('assets/images/pass-to-poison-lead-180.jpg') }} 180w, {{ static('assets/images/pass-to-poison-lead-320.jpg') }} 320w, {{ static('assets/images/pass-to-poison-lead-600.jpg') }} 600w, {{ static('assets/images/pass-to-poison-lead-800.jpg') }} 800w, {{ static('assets/images/pass-to-poison-lead-1000.jpg') }} 1000w, {{ static('assets/images/pass-to-poison-lead-1200.jpg') }} 1200w, {{ static('assets/images/pass-to-poison-lead-2000.jpg') }} 2000w, {{ static('assets/images/pass-to-poison-lead-2400.jpg') }} 2400w, {{ static('assets/images/pass-to-poison-lead-2800.jpg') }} 2800w, {{ static('assets/images/pass-to-poison-lead-3200.jpg') }} 3200w" alt="A Pass to Poison">
    </figure>
  </div>
</section>

<p class="photo-credit">Photo by Rafael Aguilera for The Texas Tribune</p>

<div class="">
  <header class="article-header text-center">
    <h1 class="article-title"><img src="{{ static('assets/images/poison-logo.png') }}" alt="{{ context.title }}"></h1>
    <p class="article-subtitle">{{ context.subtitle }}</p>
    <p class="article-byline">
      <span class="article-author">{{ context.byline_1 }}</span>
      <span class="article-author">{{ context.byline_2 }}</span>
      <span class="article-pub-date"><time datetime="{{ context.pub_date }}">{{ apFormatDate(context.pub_date) }}</time></span>
    </p>
  </header>
  <div>
    {{ prose(context.prose) }}
  </div>
  <p class="copy copy--note story-content">{{ context.disclosure }}</p>
  <p class="copy copy--note story-content">{{ context.contributors }}</p>
  <aside class="smog-separator"><img src="{{ static('assets/images/pass-to-poison-smog.png') }}" alt="Illustration of smog clouds"></aside>
  <h2 class="copy-subhead copy-subhead--black story-content">About the data</h2>
  <p class="copy copy--note story-content">{{ prose(context.appendix) }}</p>
</div>

<div class="container container--comments">
  <div id="disqus_thread"></div>
</div>

{% endblock content %}

{% block inline_data %}
<script>
window.disqus_config = function() {
  this.page.url = '{{ CURRENT_PAGE_URL }}';
  this.page.identifier = 'apps/pass-to-poison';
  this.page.title = '{{ context.title }}';
};
</script>
{% endblock inline_data %}

{% block scripts %}
{{ super() }}
<script defer src="{{ static('scripts/main.js') }}"></script>
{% endblock scripts %}
